/*.style1 就是类选择器*/
.style1{
		color:black;
    	font-size: 20px;
    	font-weight: bold;
    	background-color: pink;
    }
    
.style4{
		font-style: italic;
		text-decoration: underline;
		color: green;
    }
    
#specila_new{
		font-style: italic;
		color: red;
	}

/*#style2 就是一个id选择器*/
#style2{
	color:blue;
	font-size: 30px;
	background-color: silver;
	}
	
/*父子选择器*/	
#style2 span{
	font-style: italic;
	color: red;
	}
	
/*html的选择器*/
body{
	color:orange;
	}
	
a:link{
	color: black;
	text-decoration: none;
	}
a:hover{
	text-decoration: underline;
	}
a:VISITED {
	color: red;
}

/*使用通配符选择器，对外边距和内边距清0*/
*{
	/*margin: 0px;*/
	/*margin-top: 10px;
	margin-left: 10px;
	margin-right0px: 0px;
	margin-bottom: 0px;*/
	/*如果margin给了四个值则表示上、右、下、左；如果是三个值则代表 上、左右、下*/
	margin: 10px 0px 0px 10px;
	padding: 0px;	
}




